<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redireccion</title>
</head>
<body>
    <h1>Estado del pago : <%= status %></h1>
    <h2>Datos del pago :</h2>
    <pre><%= JSON.stringify{payment_data, null, 2} %></pre>
</body>
</html>